.site-article {
  letter-spacing: 0.1em;
}
.site-article .article-header {
  margin: 2rem 0;
  color: #333;
}
.site-article .article-header a {
  color: inherit;
  font-weight: bolder;
}
.site-article .article-header h1 {
  margin: 1rem 0;
  font-size: 2rem;
}
.site-article h1, .site-article h2 {
  margin: 1.5em 0 0.5em;
  font-size: 1.5rem;
}
.site-article h3, .site-article h4, .site-article h5, .site-article h6 {
  margin: 1.5em 0 0.5em;
}
.site-article figure {
  position: relative;
  margin: 2rem 1rem;
  text-align: center;
  line-height: 1;
}
.site-article figure picture {
  display: block;
  width: 100%;
}
.site-article figure img {
  padding: 0.5em;
}
.site-article figure figcaption {
  color: gray;
  line-height: 2;
}
.site-article figure figcaption a {
  color: inherit;
}
.site-article p,
.site-article pre {
  margin: 1em 0;
}
.site-article ul,
.site-article ol {
  margin: 1em 0;
  padding: 0 0 0 2rem;
}
.site-article ul ul,
.site-article ul ol,
.site-article ol ul,
.site-article ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.site-article table {
  margin: 1em 0;
  display: block;
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}
.site-article table thead {
  text-align: center;
}
.site-article table td,
.site-article table th {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  word-break: keep-all;
}
.site-article table ul {
  margin: 0;
  padding: 0 0 0 1em;
  white-space: normal;
}
.site-article table .alert {
  background: #ffd9d9;
}
.site-article table .warning {
  background: #fff7d9;
}
.site-article table .recommend {
  background: #d9ffdf;
}
.site-article code {
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}
.site-article blockquote {
  margin: 1em 0;
  padding: 0 2rem;
  border-left: 0.2rem solid;
  word-break: break-all;
}
.site-article hr {
  margin: 1em 0;
  border: none;
  height: 1px;
  background-image: linear-gradient(90deg, transparent, #333, transparent);
}
.site-article mark {
  background: linear-gradient(transparent 50%, #fff799 0%);
  color: inherit;
}
.site-article .article-footer {
  margin: 4rem 0;
}
.site-article .article-footer h4 {
  margin: 2rem 0;
  font-size: 1rem;
}
.site-article .article-footer .article-comments iframe {
  border: none;
  width: 100%;
}
.site-article .article-footer .article-comments a {
  border: none;
  color: inherit;
  text-decoration: none;
}
.site-article .article-footer .article-comments .hidden,
.site-article .article-footer .article-comments .blog-author,
.site-article .article-footer .article-comments .thread-arrow,
.site-article .article-footer .article-comments .comment-replies .thread-chrome.thread-collapsed {
  display: none;
}
.site-article .article-footer .article-comments .comment:not(:first-child) {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #eee;
}
.site-article .article-footer .article-comments .toplevel-thread > ol {
  margin: 2rem 0;
  padding: 0;
  list-style: none;
}
.site-article .article-footer .article-comments .avatar-image-container {
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 0;
  overflow: hidden;
  background: url("../img/anonymous.svg") center/cover no-repeat;
}
.site-article .article-footer .article-comments .comment-block {
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  width: calc(100% - 35px);
  box-sizing: border-box;
}
.site-article .article-footer .article-comments .comment-block .comment-header .user {
  margin-right: 1rem;
  font-style: normal;
}
.site-article .article-footer .article-comments .comment-block .comment-header .datetime a {
  font-size: 0.8rem;
  color: #999;
}
.site-article .article-footer .article-comments .comment-block .comment-content {
  word-break: break-word;
}
.site-article .article-footer .article-comments .comment-block .comment-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.site-article .article-footer .article-comments .thread-toggle {
  display: block;
}
.site-article .article-footer .article-comments .thread-toggle a:hover {
  color: #5f9ea0;
}
.site-article .article-footer .article-comments .comment-reply {
  display: block;
  padding: 1rem;
  transition: all 0.2s linear;
}
.site-article .article-footer .article-comments .comment-reply:hover {
  color: #5f9ea0;
}
.site-article .article-footer .article-comments .comment-reply:before {
  content: "reply";
  font: normal 24px "Material Icons";
}
.site-article .article-footer .article-comments .item-control {
  display: block;
}
.site-article .article-footer .article-comments .item-control a {
  display: block;
  padding: 1rem;
  transition: all 0.2s linear;
}
.site-article .article-footer .article-comments .item-control a:hover {
  color: #5f9ea0;
}
.site-article .article-footer .article-comments .item-control a:before {
  content: "delete_outline";
  font: normal 24px "Material Icons";
}
.site-article .article-footer .article-comments .thread-count {
  display: block;
  width: 2rem;
  height: 2rem;
}
.site-article .article-footer .article-comments .thread-count a {
  display: block;
  width: inherit;
  height: inherit;
  font-size: 0;
}
.site-article .article-footer .article-comments .thread-count a:before {
  content: "expand_more";
  display: inherit;
  width: inherit;
  height: inherit;
  text-align: center;
  font: normal 24px/2rem "Material Icons";
}
.site-article .article-footer .article-comments .thread-expanded .thread-count a {
  transform: rotateZ(180deg);
}
.site-article .article-footer .article-comments .thread-chrome {
  margin: 0;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #5f9ea0;
  list-style: none;
  display: block;
}
.site-article .article-footer .article-comments .thread-chrome li:first-child {
  margin: 0;
  padding: 0;
}
.site-article .article-footer .promotion {
  position: relative;
  margin: 2rem 0;
  border-radius: 1rem;
  height: 14rem;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.site-article .article-footer .promotion:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7));
  z-index: 1;
}
.site-article .article-footer .promotion a {
  color: inherit;
}
.site-article .article-footer .promotion .panel {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 2;
}
.site-article .article-footer .promotion .panel p {
  margin: 0;
}
.site-article .article-footer .promotion .panel .slogan {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
}
.site-article .article-footer .promotion .panel .slogan span {
  margin: 0 0.5rem;
  vertical-align: text-bottom;
}
@media screen and (max-width: 768px) {
  .site-article .article-footer .promotion:before {
    background: rgba(0, 0, 0, 0.7);
  }
  .site-article .article-footer .promotion .panel {
    width: 100%;
  }
}

.article-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 3rem 0;
  letter-spacing: 0.1em;
  z-index: 0;
}
.article-list .article-thumbnail {
  display: block;
  margin: 0;
  width: 240px;
  height: 120px;
  overflow: hidden;
}
.article-list .article-thumbnail img {
  display: block;
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  object-fit: cover;
  overflow: hidden;
  transition: all 2s cubic-bezier(0, 0, 0.18, 0.96);
}
.article-list:hover .article-thumbnail img {
  transform: scale(1.1);
}
.article-list .article-information {
  width: calc(100% - 240px);
  padding-left: 1rem;
  box-sizing: border-box;
}
.article-list .article-information .article-datetime {
  display: block;
  color: #555;
}
.article-list .article-information .article-title {
  margin: 0;
  line-height: 1.2;
}
.article-list .article-url {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .article-list {
    flex-direction: column;
  }
  .article-list .article-thumbnail {
    position: relative;
    padding-top: 50%;
    width: 100%;
    height: 0;
  }
  .article-list .article-thumbnail img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .article-list .article-information {
    width: 100%;
    padding-top: 1rem;
    padding-left: 0;
  }
}