#site-footer {
  padding: 1.5rem;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--global-border-color);
}

#footer-widgets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer-widgets .widget {
  flex: 1;
  padding: 1rem;
  min-width: 300px;
  box-sizing: border-box;
}
#footer-widgets .widget h4 {
  margin: 0 0 1rem;
  font-size: 1rem;
}

#site-copyright {
  margin: 1rem;
}