.lazyload {
  position: relative;
  transition: all 0.2s ease;
  z-index: 0;
}
.lazyload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 0.5s ease;
}
.lazyload img.loaded {
  opacity: 1;
}