.link-cloud {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  transition: all 0.2s ease;
}
.link-cloud .item {
  display: block;
  margin: 0.3125em;
}
.link-cloud .item a {
  display: block;
  padding: 0.3125em 0.5em;
  border: none;
  border-radius: 0.5em;
  background: rgba(157, 157, 157, 0.11);
  text-decoration: none;
}