.video, .media {
  display: block;
  position: relative;
  margin: 2rem 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.video iframe,
.video video,
.video img, .media iframe,
.media video,
.media img {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.video-16by9, .media-16by9 {
  padding-bottom: 56.25%;
}

.video-4by3, .media-4by3 {
  padding-bottom: 75%;
}