/**
 * Variable declaration.
 */
#site-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 80px 0;
}
#site-pagination a {
  background: #100f12;
}
#site-pagination a:hover {
  background: #0070d1;
}