/**
 * Variable declaration.
 */
/**
 *  Scrollbar settings.
 */
::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

/**
 *  General settings.
 */
html {
  font: 16px/1.7 "Microsoft JhengHei", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #c0c5cb;
  background: #100f12;
  overflow-x: hidden;
  overflow-y: auto;
}
@media screen and (max-width: 576px) {
  body.on-site-nav-open {
    overflow-y: hidden;
  }
}

a {
  border-bottom: 1px solid;
  color: #8ab4f8;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  word-break: break-all;
}
a:hover {
  color: #ffc6f1;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  box-sizing: border-box;
}

iframe {
  width: 100%;
  border: none;
}

/**
 *  Import
 */
.site-article {
  letter-spacing: 0.1em;
}
.site-article .article-header {
  margin: 2rem auto;
  max-width: 680px;
}
.site-article .article-header a {
  color: inherit;
  font-weight: bolder;
}
.site-article .article-header h1 {
  margin: 1rem 0;
  font-size: 2rem;
}
.site-article h1,
.site-article h2 {
  margin: 1.5em auto 0.5em;
  font-size: 2rem;
  line-height: 1.2;
  max-width: 680px;
}
.site-article h3,
.site-article h4,
.site-article h5,
.site-article h6 {
  margin: 1.5em auto 0.5em;
  max-width: 680px;
}
.site-article figure {
  position: relative;
  margin: 2rem 0;
  text-align: center;
  line-height: 1;
}
.site-article figure figcaption {
  margin-top: 8px;
  color: #cfcfcf;
  line-height: 2;
  font-size: 0.9em;
}
.site-article figure figcaption a {
  color: inherit;
}
.site-article picture {
  display: block;
  margin: 2rem auto;
  max-width: 680px;
}
.site-article .snippet {
  display: none;
}
.site-article p,
.site-article pre,
.site-article .google-auto-placed {
  margin: 1em auto;
  max-width: 680px;
}
.site-article ul,
.site-article ol {
  margin: 1em auto;
  padding: 0 2rem;
  max-width: 680px;
}
.site-article ul ul,
.site-article ul ol,
.site-article ol ul,
.site-article ol ol {
  margin-top: 0;
  margin-bottom: 0;
  max-width: unset;
}
.site-article table {
  margin: 1em auto;
  display: block;
  max-width: 680px;
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}
.site-article table thead {
  text-align: center;
}
.site-article table td,
.site-article table th {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  word-break: keep-all;
}
.site-article table ul {
  margin: 0;
  padding: 0 0 0 1em;
  white-space: normal;
}
.site-article table .alert {
  background: #ffd9d9;
}
.site-article table .warning {
  background: #fff7d9;
}
.site-article table .recommend {
  background: #d9ffdf;
}
.site-article code {
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}
.site-article blockquote {
  margin: 1em auto;
  padding: 0 2rem;
  border-left: 0.2rem solid;
  max-width: 680px;
  word-break: break-all;
}
.site-article hr {
  margin: 4em auto;
  border: none;
  max-width: 680px;
  height: 2px;
  background: #1c2358;
}
.site-article mark {
  background: linear-gradient(transparent 50%, #fff799 0%);
  color: inherit;
}
.site-article video,
.site-article .media {
  margin: 2rem 0;
}
.site-article .article-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.site-article .article-info a {
  color: inherit;
  font-weight: bolder;
}
.site-article .article-info .item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0.5em;
  height: 2em;
  line-height: 2em;
}
.site-article .article-info .item .icon {
  display: block;
  margin-right: 0.5em;
  height: inherit;
  line-height: inherit;
}
.site-article .article-info .item .content {
  display: block;
  height: inherit;
  line-height: inherit;
}
.site-article .article-footer {
  margin: 4rem auto;
  max-width: 680px;
}
.site-article .article-footer h4 {
  margin: 2rem 0;
  font-size: 1rem;
}
.site-article .article-footer .article-comments iframe {
  border: none;
  border-radius: 16px;
  width: 100%;
}
.site-article .article-footer .article-comments a {
  border: none;
  color: inherit;
  text-decoration: none;
}
.site-article .article-footer .article-comments .comment {
  margin-top: 48px;
}
.site-article .article-footer .article-comments .hidden,
.site-article .article-footer .article-comments .blog-author,
.site-article .article-footer .article-comments .thread-arrow,
.site-article .article-footer .article-comments .comment-replies .thread-chrome.thread-collapsed {
  display: none;
}
.site-article .article-footer .article-comments .toplevel-thread > ol {
  margin: 2rem 0;
  padding: 0;
  list-style: none;
}
.site-article .article-footer .article-comments .avatar-image-container {
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 0;
  overflow: hidden;
  background: url("../img/anonymous.svg") center/cover no-repeat;
}
.site-article .article-footer .article-comments .comment-block {
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  width: calc(100% - 35px);
  box-sizing: border-box;
}
.site-article .article-footer .article-comments .comment-header .user {
  margin-right: 1rem;
  font-style: normal;
}
.site-article .article-footer .article-comments .comment-header .datetime a {
  font-size: 0.8rem;
  color: #999;
}
.site-article .article-footer .article-comments .comment-content {
  word-break: break-word;
}
.site-article .article-footer .article-comments .comment-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.site-article .article-footer .article-comments .comment-actions > *:not(:first-child) {
  margin-left: 8px;
}
.site-article .article-footer .article-comments .thread-toggle {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
}
.site-article .article-footer .article-comments .thread-toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background: url("https://kai-tw.github.io/blog-assets/img/icon/expand-dark.svg") center/contain no-repeat;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}
.site-article .article-footer .article-comments .thread-toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background: url("https://kai-tw.github.io/blog-assets/img/icon/collapse-dark.svg") center/contain no-repeat;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}
.site-article .article-footer .article-comments .thread-toggle.thread-expanded:before {
  opacity: 0;
  visibility: hidden;
}
.site-article .article-footer .article-comments .thread-toggle.thread-expanded:after {
  opacity: 1;
  visibility: visible;
}
.site-article .article-footer .article-comments .thread-toggle .thread-arrow,
.site-article .article-footer .article-comments .thread-toggle .thread-count {
  display: none;
}
.site-article .article-footer .article-comments .continue {
  margin: 8px 0;
}
.site-article .article-footer .article-comments .comment-reply {
  padding: 10px 16px;
  border: none;
  border-radius: 16px;
  background: #26242b;
  line-height: 1;
  transition: all 0.2s ease;
  display: inline-block;
}
.site-article .article-footer .article-comments .comment-reply:before {
  width: 16px;
  height: 16px;
  content: "";
  display: inline-block;
  margin-right: 8px;
  background: url("https://kai-tw.github.io/blog-assets/img/icon/reply-dark.svg") center/contain no-repeat;
}
.site-article .article-footer .article-comments .comment-reply:hover {
  background: #0070d1;
}
.site-article .article-footer .article-comments .item-control {
  padding: 10px 16px;
  border: none;
  border-radius: 16px;
  background: #26242b;
  line-height: 1;
  transition: all 0.2s ease;
}
.site-article .article-footer .article-comments .item-control a:before {
  width: 16px;
  height: 16px;
  content: "";
  display: inline-block;
  margin-right: 8px;
  background: url("https://kai-tw.github.io/blog-assets/img/icon/delete-dark.svg") center/contain no-repeat;
}
.site-article .article-footer .article-comments .item-control:hover {
  background: #0070d1;
}
.site-article .article-footer .article-comments .thread-chrome {
  margin: 16px;
  padding: 0 0 0 31px;
  border-left: 2px solid #bc0d0d;
  list-style: none;
  display: block;
}
.site-article .article-footer .article-comments .thread-chrome li:first-child {
  margin: 0;
  padding: 0;
}

.blog-admin {
  display: none;
}

.video,
.media {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.video iframe,
.video video,
.video img,
.media iframe,
.media video,
.media img {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.video-16by9,
.media-16by9 {
  padding-bottom: 56.25%;
}

.video-4by3,
.media-4by3 {
  padding-bottom: 75%;
}

.video-4by3,
.media-1by1 {
  padding-bottom: 100%;
}

/**
 *  Style definition
 */
.site-button {
  padding: 10px 16px;
  border: none;
  border-radius: 16px;
  background: #26242b;
  line-height: 1;
  transition: all 0.2s ease;
}
.site-button .icon {
  width: 16px;
  height: 16px;
}
.site-button .label {
  margin: 0 8px;
  color: #fff;
}
.site-button.icon-expand {
  display: flex;
  align-items: center;
}
.site-button.action {
  border-radius: 24px;
  font-weight: 900;
  background: #bc0d0d;
}
.site-button.action .icon {
  width: 24px;
  height: 24px;
}
.site-button:hover {
  background: #0070d1;
}

#site-footer {
  padding: 80px 10%;
  background: #1b191e;
}

#footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
}
#footer-columns .widget .title {
  text-align: center;
}

#site-copyright {
  margin-top: 60px;
}

/**
 *  Variable declaration.
 */
/**
 *  Style definitions.
 */
#site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
}

/**
 *  Variable declaration.
 */
/**
 *  Style definitions.
 */
#site-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  line-height: 1;
}
#site-logo .logo-icon {
  padding: 0.5rem;
  width: 50px;
  height: inherit;
  box-sizing: border-box;
}
#site-logo .logo-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: inherit;
}

/**
 *  Variable declaration.
 */
/**
  * Style definitions.
  */
#site-nav {
  transition: all 0.2s ease;
}
#site-nav .site-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: inherit;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}
#site-nav .site-nav-list .item {
  transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
#site-nav .site-nav-list .item a {
  position: relative;
  display: block;
  margin: 0;
  padding: 17px;
  border: none;
  color: inherit;
  line-height: 1;
  box-sizing: border-box;
}
@media screen and (max-width: 576px) {
  #site-nav .site-nav-list .item a {
    padding: 24px;
  }
}
#site-nav .site-nav-list .item a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 3px;
  border-radius: 1.5px;
  width: 0;
  height: 3px;
  transform: translateX(-50%);
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 576px) {
  #site-nav .site-nav-list .item a:before {
    top: 50%;
    left: unset;
    right: 0;
    width: 3px;
    height: 0;
    transform: translateY(-50%);
  }
}
#site-nav .site-nav-list .item a:hover:before, #site-nav .site-nav-list .item a.active:before {
  width: 38.2%;
}
@media screen and (max-width: 576px) {
  #site-nav .site-nav-list .item a:hover:before, #site-nav .site-nav-list .item a.active:before {
    width: 3px;
    height: 61.8%;
  }
}
#site-nav .site-nav-list .item a.active {
  cursor: default;
}
#site-nav .site-nav-list .social-list {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  list-style: none;
}
@media screen and (max-width: 576px) {
  #site-nav .site-nav-list .social-list {
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 0;
    justify-content: center;
    transform: translateX(-50%);
  }
}
#site-nav .site-nav-list .social-list .item {
  width: 50px;
  height: 50px;
}
#site-nav .site-nav-list .social-list .item img {
  padding: 16px;
  fill: currentColor;
}
#site-nav .site-nav-list .social-list .item a {
  padding: 0;
}
@media screen and (max-width: 576px) {
  #site-nav .site-nav-list .social-list .item a:before {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  #site-nav .site-nav-list {
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: none;
    height: 100%;
  }
  #site-nav .site-nav-list > .item:nth-child(1) {
    transform: translateX(24px);
  }
  #site-nav .site-nav-list > .item:nth-child(2) {
    transform: translateX(48px);
  }
  #site-nav .site-nav-list > .item:nth-child(3) {
    transform: translateX(72px);
  }
}
@media screen and (max-width: 576px) {
  #site-nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 66px;
    border: none;
    height: unset;
    background: #26202c;
    font-size: 36px;
    text-align: center;
    transform: translateX(48px);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
  #site-nav.show {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 576px) and (max-width: 576px) {
  #site-nav.show .site-nav-list > .item {
    transform: translateX(0);
  }
}

#site-nav-toggle-button {
  display: none;
  position: fixed;
  top: 16px;
  right: 16px;
  border: none;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
}
#site-nav-toggle-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  object-fit: contain;
  transition: all 0.2s ease;
}
#site-nav-toggle-button svg.normal-icon {
  transform: translate(-50%, -50%);
  opacity: 1;
}
#site-nav-toggle-button svg.close-icon {
  transform: translate(50%, -50%);
  opacity: 0;
}
#site-nav-toggle-button.close svg.normal-icon {
  transform: translate(50%, -50%);
  opacity: 0;
}
#site-nav-toggle-button.close svg.close-icon {
  transform: translate(-50%, -50%);
  opacity: 1;
}
@media screen and (max-width: 576px) {
  #site-nav-toggle-button {
    display: block;
  }
}

#site-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 80px 0;
}
#site-pagination a {
  background: transparent;
}
#site-pagination a:hover {
  background: #0070d1;
}

/**
 *  Variable declaration
 */
/**
 *  Style definition
 */
#site-main {
  margin: 24px;
}

/**
 *  Variable declaration
 */
/**
 *  Style definition
 */
.widget.Blog .site-article-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 80px 0;
  z-index: 0;
}
.widget.Blog .site-article-list-item:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  border-radius: 28px;
  background-image: linear-gradient(to right top, #3d8de3, #1c294b, #4f4184, #9a52b2, #ad278f);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: -2;
}
.widget.Blog .site-article-list-item:after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: 24px;
  background: #100f12;
  z-index: -1;
}
.widget.Blog .site-article-list-item:hover:before {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 768px) {
  .widget.Blog .site-article-list-item {
    flex-direction: column;
    align-items: normal;
  }
}
.widget.Blog .site-article-list-item .article-thumbnail {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  border-radius: 16px;
  background: #1e1d21;
  line-height: 6;
  text-align: center;
  overflow: hidden;
}
.widget.Blog .site-article-list-item .article-thumbnail .media {
  margin: 0;
}
.widget.Blog .site-article-list-item .article-header {
  flex: 1;
  margin: 0 24px;
}
@media screen and (max-width: 768px) {
  .widget.Blog .site-article-list-item .article-header {
    margin: 34px 0;
  }
}
.widget.Blog .article-title {
  margin: 0;
  font-size: 36px;
  line-height: 56px;
  word-break: break-word;
}
.widget.Blog .article-label-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 8px 0;
}
.widget.Blog .article-label-list .label-item:not(:first-child) {
  margin-left: 16px;
}
.widget.Blog .article-read-more {
  display: flex;
  margin-top: 16px;
}

.widget.Label .title {
  margin: 0;
  margin-bottom: 24px;
}
.widget.Label .label-cloud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.widget.Label .label-item {
  margin: 8px;
  border: none;
}
.widget.Label .label-size-1 {
  font-size: 1rem;
}
.widget.Label .label-size-2 {
  font-size: 1.2rem;
}
.widget.Label .label-size-3 {
  font-size: 1.4rem;
}
.widget.Label .label-size-4 {
  font-size: 1.6rem;
}
.widget.Label .label-size-5 {
  font-size: 1.8rem;
}

.widget.PopularPosts {
  margin: 32px auto;
  max-width: 680px;
}
.widget.PopularPosts .list-item {
  display: flex;
  align-items: center;
  margin: 0 0 48px 0;
}
.widget.PopularPosts .list-item .article-thumbnail {
  margin: 0 48px 0 0;
  border-radius: 16px;
  width: 100px;
  background: #1e1c21;
  text-align: center;
  line-height: 3;
}
.widget.PopularPosts .list-item .article-header {
  flex: 1;
}
.widget.PopularPosts .list-item .article-title {
  margin: 0;
}
.widget.PopularPosts .list-item .article-snippet {
  margin: 24px 0;
}
.widget.PopularPosts .list-item .article-read-more {
  display: flex;
}