@import "mixin-site-button.scss";

$articleWidth: 680px;

.site-article {
    letter-spacing: 0.1em;

    .article-header {
        margin: 2rem auto;
        max-width: $articleWidth;
        a {
            color: inherit;
            font-weight: bolder;
        }
        h1 {
            margin: 1rem 0;
            font-size: 2rem;
        }
    }

    h1,
    h2 {
        margin: 1.5em auto 0.5em;
        font-size: 2rem;
        line-height: 1.2;
        max-width: $articleWidth;
    }

    h3,
    h4,
    h5,
    h6 {
        margin: 1.5em auto 0.5em;
        max-width: $articleWidth;
    }

    figure {
        position: relative;
        margin: 2rem 0;
        text-align: center;
        line-height: 1;

        figcaption {
            margin-top: 8px;
            color: $bodyFontGreyLight;
            line-height: 2;
            font-size: 0.9em;

            a {
                color: inherit;
            }

            @media (prefers-color-scheme: dark) {
                color: $bodyFontGreyDark;
            }
        }
    }

    picture {
        display: block;
        margin: 2rem auto;
        max-width: $articleWidth;
    }

    .snippet {
        display: none;
    }

    p,
    pre,
    .google-auto-placed {
        margin: 1em auto;
        max-width: $articleWidth;
    }

    ul,
    ol {
        margin: 1em auto;
        padding: 0 2rem;
        max-width: $articleWidth;
        ul,
        ol {
            margin-top: 0;
            margin-bottom: 0;
            max-width: unset;
        }
    }

    table {
        margin: 1em auto;
        display: block;
        max-width: $articleWidth;
        width: 100%;
        border-collapse: collapse;
        overflow: auto;
        thead {
            text-align: center;
        }
        td,
        th {
            padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            word-break: keep-all;
        }
        ul {
            margin: 0;
            padding: 0 0 0 1em;
            white-space: normal;
        }
        .alert {
            background: #ffd9d9;
        }
        .warning {
            background: #fff7d9;
        }
        .recommend {
            background: #d9ffdf;
        }
    }

    code {
        padding: 0.3rem 0.5rem;
        border-radius: 0.5rem;
        background: rgba(0, 0, 0, 0.1);
    }

    .font-monospace,
    code {
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    blockquote {
        margin: 1em auto;
        padding: 0 2rem;
        border-left: 0.2rem solid;
        max-width: $articleWidth;
        word-break: break-all;
    }

    hr {
        margin: 60px auto;
        border: none;
        max-width: $articleWidth;
        height: 36px;
        background: url("https://kai-tw.github.io/blog-assets/img/icon/dot-menu-more-dark.svg") center/contain no-repeat;
        opacity: 0.7;
    }

    mark {
        background: linear-gradient(transparent 50%, #710000 0%);
        color: inherit;
    }

    video,
    .media {
        margin: 2rem 0;
    }

    .article-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
            color: inherit;
            font-weight: bolder;
        }
        .item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 0.5em;
            height: 2em;
            line-height: 2em;

            .icon {
                display: block;
                margin-right: 0.5em;
                height: inherit;
                line-height: inherit;
            }

            .content {
                display: block;
                height: inherit;
                line-height: inherit;
            }
        }
    }
    .article-footer {
        margin: 4rem auto;
        max-width: $articleWidth;

        h4 {
            margin: 2rem 0;
            font-size: 1rem;
        }

        .article-comments {
            iframe {
                border: none;
                border-radius: 16px;
                width: 100%;
            }

            a {
                border: none;
                color: inherit;
                text-decoration: none;
            }

            .comment {
                margin-top: 48px;
            }

            .hidden,
            .blog-author,
            .thread-arrow,
            .comment-replies .thread-chrome.thread-collapsed {
                display: none;
            }

            .toplevel-thread > ol {
                margin: 2rem 0;
                padding: 0;
                list-style: none;
            }

            .avatar-image-container {
                display: inline-block;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                font-size: 0;
                overflow: hidden;
                background: url("../img/anonymous.svg") center/cover no-repeat;
            }

            .comment-block {
                display: inline-block;
                vertical-align: top;
                padding-left: 1rem;
                width: calc(100% - 35px);
                box-sizing: border-box;
            }

            .comment-header {
                .user {
                    margin-right: 1rem;
                    font-style: normal;
                }
                .datetime {
                    a {
                        font-size: 0.8rem;
                        color: #999;
                    }
                }
            }

            .comment-content {
                word-break: break-word;
            }

            .comment-actions {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                & > *:not(:first-child) {
                    margin-left: 8px;
                }
            }

            .thread-toggle {
                display: block;
                position: relative;
                width: 32px;
                height: 32px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 24px;
                    height: 24px;
                    background: url("https://kai-tw.github.io/blog-assets/img/icon/expand-dark.svg") center/contain
                        no-repeat;
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, -50%);
                    transition: all 0.2s ease;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 24px;
                    height: 24px;
                    background: url("https://kai-tw.github.io/blog-assets/img/icon/collapse-dark.svg") center/contain
                        no-repeat;
                    opacity: 0;
                    visibility: hidden;
                    transform: translate(-50%, -50%);
                    transition: all 0.2s ease;
                }

                &.thread-expanded {
                    &:before {
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .thread-arrow,
                .thread-count {
                    display: none;
                }
            }

            .continue {
                margin: 8px 0;
            }

            .comment-reply {
                @include site-button();

                display: inline-block;

                &:before {
                    @include site-button-icon();

                    content: "";
                    display: inline-block;
                    margin-right: 8px;
                    background: url("https://kai-tw.github.io/blog-assets/img/icon/reply-dark.svg") center/contain
                        no-repeat;
                }

                &:hover {
                    @include site-button-hover();
                }
            }

            .item-control {
                @include site-button();

                a {
                    &:before {
                        @include site-button-icon();

                        content: "";
                        display: inline-block;
                        margin-right: 8px;
                        background: url("https://kai-tw.github.io/blog-assets/img/icon/delete-dark.svg") center/contain
                            no-repeat;
                    }
                }

                &:hover {
                    @include site-button-hover();
                }
            }

            .thread-chrome {
                margin: 16px;
                padding: 0 0 0 31px;
                border-left: 2px solid #bc0d0d;
                list-style: none;
                display: block;

                li:first-child {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.blog-admin {
    display: none;
}
