.site-button {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    color: inherit;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
    &:hover {
        color: #5f9ea0;
    }
}