$headerWidth: 10rem;
#site-header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10rem;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #eee;
    background: rgba(252, 252, 252, .9);
    box-sizing: border-box;
    z-index: 2;

    @media screen and (max-width: 768px) {
        border-width: 0 0 2px;
        border-style: solid;
        border-color: #eee;
        right: 0;
        bottom: unset;
        width: auto;
    }
}

#site-logo {
    margin: 1rem;
    width: 8rem;
    height: 8rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 8rem;
    color: inherit;

    @media screen and (max-width: 768px) {
        margin: 0;
        width: auto;
        height: 4rem;
        line-height: 4rem;
    }

    a {
        padding: .5rem;
        color: inherit;
    }
}

#site-nav {
    height: calc(100% - 2 * 3rem - $headerWidth);
    overflow-x: hidden;
    overflow-y: auto;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 3rem;
        padding: 2rem;
        width: 100%;
        height: unset;
        box-sizing: border-box;
        background: #fff;
        transform: translateX(-100%);
        transition: all .2s linear;
        z-index: 1;

        &.open {
            transform: none;
        }
    }
}
#ctrl-panel {
    display: flex;
    flex-direction: column;
    width: inherit;
    z-index: 0;
    .header-btn {
        flex: 1;
        display: block;
        width: inherit;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        box-sizing: border-box;
        transition: all .2s ease;
        cursor: pointer;

        &:hover,
        &.active {
            color: #fff;
            background: #5f9ea0;
        }
    }
    .home-btn {
        display: none;
        a {
            border: none;
            color: inherit;
            text-decoration: none;
        }
    }
    #site-nav-btn,
    #site-aside-toggle {
        display: none;
    }
    @media screen and (max-width: 768px) {
        flex-direction: row;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #eee;
        background: #fff;

        .home-btn,
        #site-nav-btn,
        #site-aside-toggle {
            display: block;
        }
    }
}

.header-window {
    position: fixed;
    top: 0;
    left: 10rem;
    bottom: 0;
    padding: 3rem;
    border: 1px solid #eee;
    max-width: 30rem;
    background: #fff;
    box-sizing: border-box;
    transform: translateX(calc(-100% - $headerWidth));
    transition: all .2s ease;
    visibility: hidden;
    z-index: -1;
    
    &.open {
        transform: translateX(0);
        visibility: visible;
    }
    @media screen and (max-width: 768px) {
        top: unset;
        left: 0;
        bottom: 3rem;
        border-top: 2px solid #aaa;
        width: 100%;
        max-width: 100%;
        max-height: calc(100% - 3rem - 3rem);
        overflow: auto;
        transform: translateY(calc(100% + 3rem));

        &.open {
            transform: none;
        }
    }
}

#site-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .2s linear;
    box-sizing: border-box;

    form {
        margin: 0 auto;
        border-bottom: 1px solid #bbb;
        width: 100%;
        font-size: 0;
        color: inherit;
    }

    input {
        outline: none;
        border: none;
        height: 4rem;
        background: transparent;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .search-bar {
        width: calc(100% - 4rem);
        padding: 1rem;
        font-family: inherit;
        font-size: 1rem;
        color: inherit;
    }

    .search-submit {
        width: 4rem;
        padding: 0;
    }
}