$transition_def: all .2s ease;

.link-cloud {
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	flex-direction: row;
	list-style: none;
	transition: $transition_def;
	.item {
		display: block;
		margin: .3125em;
		transition: inherit;
		a {
			display: block;
			padding: .3em .8em;
			border: 3px solid transparent;
			border-radius: 1em;
			background: rgb(157 157 157 / 11%);
			text-decoration: none;
			color: inherit;
			transition: inherit;
			&:hover {
				border-color: #1e5354;
				background: transparent;
				color: #1e5354;
			}
		}
	}
}
.link-list {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	transition: $transition_def;

	&:hover a {
		opacity: .7;
	}

	.item {
		&:not(:last-child) {
			border-bottom: 1px solid #eee;
		}
		a {
			display: block;
			padding: .4rem 1rem .4rem .7rem;
			border-left: .3rem solid transparent;
			border-bottom: none;
			color: inherit;
			text-decoration: none;
			transition: all .2s linear;

			&:hover {
				opacity: 1;
				border-color: #5f9ea0;
			}
		}
	}
	ul {
		margin: 0 0 0 2rem;
	}
}