.link-cloud {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	transition: all .2s ease;
	
	.item {
		display: block;
		margin: .3125em;

		a {
			display: block;
			padding: .3125em .5em;
			border: none;
			border-radius: .5em;
			background: rgb(157 157 157 / 11%);
			text-decoration: none;
		}
	}
}