.search-keyword {
    position: relative;
    margin-bottom: 4rem;
    line-height: 5rem;
    font-size: 1.8em;
    font-weight: lighter;
    cursor: default;

    &:before {
        content: attr(data-label);
        position: absolute;
        top: 50%;
        left: 0;
        max-width: 100%;
        transform: translate(1rem, -50%);
        color: rgb(123 123 123 / 8%);
        font-size: 5rem;
        font-weight: inherit;
        text-transform: uppercase;
        white-space: pre;
        z-index: -1;
        overflow: hidden;
    }

    @media screen and (max-width: 768px) {
        margin-top: 2rem;
    }
}

#site-main {
    display: block;
    padding: 5rem 2.5rem;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
        margin: 0 5%;
        padding: 5rem 5%;
    }
}
#site-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    a {
        display: block;
        flex: 1;
        border: none;
        text-align: center;
        text-decoration: none;
        line-height: 3rem;
        font-size: 2rem;
    }
}