#site-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transition: all .2s linear;
    transform: translateX(-100%);
    box-sizing: border-box;

    &.open {
        transform: none;
    }

    @media screen and (max-width: 768px) {
        border: none;
        width: 100%;
        transform: none;
    }

    form {
        margin: 0 auto;
        border-bottom: 1px solid #bbb;
        width: 80%;
        font-size: 0;
        color: inherit;
    }

    input {
        outline: none;
        border: none;
        height: 4rem;
        background: transparent;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .search-bar {
        width: calc(100% - 4rem);
        padding: 1rem;
        font-family: inherit;
        font-size: 1rem;
        color: inherit;
    }

    .search-submit {
        width: 4rem;
        padding: 0;
    }
}
.search-keyword {
    position: relative;
    margin-bottom: 4rem;
    line-height: 5rem;
    font-size: 1.8em;
    font-weight: lighter;
    cursor: default;
    &:before {
        content: attr(data-label);
        position: absolute;
        top: 50%;
        left: 0;
        max-width: 100%;
        transform: translate(1rem, -50%);
        color: rgb(123 123 123 / 8%);
        font-size: 5rem;
        font-weight: inherit;
        text-transform: uppercase;
        white-space: pre;
        z-index: -1;
        overflow: hidden;
    }
    @media screen and (max-width: 768px) {
        margin-top: 2rem;
    }
}