.search-keyword {
    position: relative;
    font-size: 24px;

    &:before {
        content: attr(data-label);
        position: absolute;
        top: 50%;
        right: 0;
        max-width: 100%;
        font-size: 90px;
        opacity: 0.1;
        transform: translateY(-50%);
        overflow: hidden;
    }
}
