/**
 *  Variable declaration.
 */
$siteLogoHeight: 50px;

/**
 *  Style definitions.
 */
#site-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $siteLogoHeight;
    line-height: 1;

    .logo-icon {
        padding: 0.5rem;
        width: $siteLogoHeight;
        height: inherit;
        box-sizing: border-box;
    }

    .logo-title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: inherit;
    }
}
