#site-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 80px 0;

    a {
        background: transparent;

        &:hover {
            background: #0070d1;
        }
    }
}
