::-webkit-scrollbar {
    width: 10px;
    background-color: #eee;
}
::-webkit-scrollbar-thumb {
    background-color: #aaa;
}
html {
    font: 16px/2 'Microsoft JhengHei', sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0 20rem 0 10rem;
    color: #050334;
    background: #fff;
    overflow: hidden;

    @media screen and (max-width: 1280px) {
        margin: 0 0 0 10rem;
        overflow-y: auto;
    }

    @media screen and (max-width: 768px) {
        margin: 0;
    }
}
a {
    border-bottom: 1px solid;
    color: #041fb6;
    text-decoration: none;
    transition: all .2s ease-in-out;
    word-break: break-all;

    &:hover {
        color: #0000ff;
    }
}
img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    vertical-align: middle;
}
.desktop-msg {
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.mobile-msg {
    display: none;
    @media screen and (max-width: 768px) {
        display: unset;
    }
}
@import 'header.scss';
@import 'main.scss';
@import 'article.scss';
@import 'aside.scss';
@import 'footer.scss';
@import 'widget.scss';
@import 'share-box.scss';
@import 'media.scss';
@import 'relative-article.scss';
@import 'link.scss';