@import "global.scss";

/**
 *  Scrollbar settings.
 */
::-webkit-scrollbar {
    width: 10px;
    background-color: $bodyBackgroundLight;
    @media (prefers-color-scheme: dark) {
        background-color: $bodyBackgroundDark;
    }
}

::-webkit-scrollbar-thumb {
    background-color: $bodyFontColorLight;
    @media (prefers-color-scheme: dark) {
        background-color: $bodyFontColorDark;
    }
}

/**
 *  General settings.
 */
html {
    font:
        16px/1.7 "Microsoft JhengHei",
        sans-serif;
    scroll-behavior: smooth;
}

body {
    color: $bodyFontColorLight;
    background: $bodyBackgroundLight;
    overflow-x: hidden;
    overflow-y: auto;

    @media (prefers-color-scheme: dark) {
        color: $bodyFontColorDark;
        background: $bodyBackgroundDark;
    }

    &.on-site-nav-open {
        @media screen and (max-width: $smallScreenWidth) {
            overflow-y: hidden;
        }
    }
}

a {
    border-bottom: 1px solid;
    color: $linkColorLight;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    word-break: break-all;

    &:hover {
        color: $linkColorHoverLight;
    }

    &:visited {
        color: $bodyFontColorLight;
    }

    @media (prefers-color-scheme: dark) {
        color: $linkColorDark;

        &:hover {
            color: $linkColorHoverDark;
        }

        &:visited {
            color: $bodyFontColorDark;
        }
    }
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    border: none;
}

.light-theme-icon {
    display: block;

    @media (prefers-color-scheme: dark) {
        display: none;
    }
}

.dark-theme-icon {
    display: none;

    @media (prefers-color-scheme: dark) {
        display: block;
    }
}

/**
 *  Import
 */
@import "article.scss";
@import "media.scss";
@import "site-button.scss";
@import "site-footer.scss";
@import "site-header.scss";
@import "site-logo.scss";
@import "site-nav.scss";
@import "site-pagination.scss";
@import "site-search.scss";
@import "site-main.scss";
@import "widget-blog.scss";
@import "widget-label.scss";
@import "widget-popular-posts.scss";
