/**
 *  Variable declaration
 */
$verticalAlignWidth: 768px;
$thumbnailRadius: 16px;
$gradienBorderWidth: 4px;
$gradienBorderPadding: 8px;

/**
 *  Style definition
 */
.widget.Blog {
    .site-article-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin: 80px 0;
        z-index: 0;

        &:before {
            content: "";
            position: absolute;
            top: calc(0px - $gradienBorderPadding - $gradienBorderWidth);
            left: calc(0px - $gradienBorderPadding - $gradienBorderWidth);
            right: calc(0px - $gradienBorderPadding - $gradienBorderWidth);
            bottom: calc(0px - $gradienBorderPadding - $gradienBorderWidth);
            border-radius: calc($thumbnailRadius + $gradienBorderPadding + $gradienBorderWidth);
            background-image: linear-gradient(to right top, #3d8de3, #1c294b, #4f4184, #9a52b2, #ad278f);
            transition: all 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            z-index: -2;
        }

        &:after {
            content: "";
            position: absolute;
            top: calc(0px - $gradienBorderPadding);
            left: calc(0px - $gradienBorderPadding);
            right: calc(0px - $gradienBorderPadding);
            bottom: calc(0px - $gradienBorderPadding);
            border-radius: calc($thumbnailRadius + $gradienBorderPadding);
            background: #100f12;
            z-index: -1;
        }

        &:hover:before {
            opacity: 1;
            visibility: visible;
        }

        @media screen and (max-width: $verticalAlignWidth) {
            flex-direction: column;
            align-items: normal;
        }

        .article-thumbnail {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;
            border-radius: $thumbnailRadius;
            background: #1e1d21;
            line-height: 6;
            text-align: center;
            overflow: hidden;

            .media {
                margin: 0;
            }
        }

        .article-header {
            flex: 1;
            margin: 0 24px;

            @media screen and (max-width: $verticalAlignWidth) {
                margin: 34px 0;
            }
        }
    }

    .article-title {
        margin: 0;
        font-size: 36px;
        line-height: 56px;
        word-break: break-word;
    }

    .article-label-list {
        display: flex;
        flex-wrap: wrap;
        margin: 8px 0;

        .label-item {
            margin: 2px;
        }
    }

    .article-read-more {
        display: flex;
        margin-top: 16px;
    }
}
