@import "global"

#site-search
  display: flex
  flex-direction: column
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: 82px 16px 16px
  translate: 0 -48px
  opacity: 0
  visibility: hidden
  background: $bodyBackgroundLight
  transition: all 400ms ease-in-out
  z-index: 1

  @media (prefers-color-scheme: dark)
    background: $bodyBackgroundDark

  &.show
    translate: 0
    opacity: 1
    visibility: visible

#site-search-form
  display: flex
  height: 50px

#site-search-input
  flex: 1
  display: block
  padding: 0 0 0 8px
  border: none
  height: 50px
  min-width: 0
  font: inherit
  color: inherit
  background: transparent
  line-height: 50px
  box-sizing: border-box

#site-search-submit
  margin: 0
  padding: 0
  border: none
  color: $bodyFontColorLight
  background: transparent
  box-sizing: border-box
  cursor: pointer

  @media (prefers-color-scheme: dark)
    color: $bodyFontColorDark

#site-search-section
  flex: 1
  margin: 16px 8px 0
  overflow: hidden auto

  .category-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .category-list-item
      display: block
      margin: 0 16px 16px 0
      border: none
      width: 200px
      color: inherit
      transition: all 0.2s ease-in-out

    &:hover
      .category-list-item
        opacity: 0.7

        &:hover
          opacity: 1

.search-keyword
  position: relative
  margin: 0 0 60px 20px
  width: 100%
  font-size: 24px

  &:before
    content: attr(data-label)
    position: absolute
    top: 50%
    right: 0
    max-width: 100%
    font-size: 90px
    word-break: keep-all
    opacity: 0.1
    translate: 0 -50%
    overflow: hidden
