@import "global"
/**
 *  Variable declaration.
 */

$smallScreenWidth: 576px
$mediumScreenWidth: 768px
$largeScreenWidth: 992px
$extraLargeScreenWidth: 1200px
$extraExtraLargeScreenWidth: 1400px

$foldWidth: $smallScreenWidth

/**
  * Style definitions.
  */
#site-nav
  display: flex
  transition: all 0.2s ease

  .site-nav-button-list
    display: flex
    position: static
    z-index: 2

    button
      cursor: pointer

  @media screen and (max-width: $foldWidth)
    position: fixed
    top: 16px
    right: 16px

#site-nav-list
  display: flex
  margin: 0
  padding: 0
  list-style: none
  line-height: inherit
  box-sizing: border-box
  transition: all 0.4s ease-in-out

  @media screen and (max-width: $foldWidth)
    flex-direction: column
    justify-content: center
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 82px 24px 24px
    border: none
    height: 100%
    background: $siteNavBackgroundLight
    font-size: 24px
    text-align: center
    translate: 48px 0
    opacity: 0
    visibility: hidden
    z-index: 1

    @media (prefers-color-scheme: dark)
      background: $siteNavBackgroundDark

    @for $i from 1 through 3
      & > .item:nth-child(#{$i})
        translate: #{$i * 24}px 0

    &.show
      translate: 0
      opacity: 1
      visibility: visible

      & > .item
        translate: 0

  .item
    transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95)

    a
      position: relative
      display: block
      margin: 0
      padding: 17px
      border: none
      color: inherit
      line-height: 1
      box-sizing: border-box

      &:before
        content: ""
        position: absolute
        left: 50%
        bottom: 3px
        border-radius: 1.5px
        width: 0
        height: 3px
        translate: -50% 0
        background-color: $bodyFontColorLight
        transition: all 0.5s ease-in-out

        @media (prefers-color-scheme: dark)
          background: $bodyFontColorDark

        @media screen and (max-width: $foldWidth)
          top: 50%
          left: unset
          right: 0
          width: 3px
          height: 0
          translate: 0 -50%

      &:hover:before,
      &.active:before
        width: 38.2%

        @media screen and (max-width: $foldWidth)
          width: 3px
          height: 61.8%

      &.active
        cursor: default

  .social-list
    display: flex
    flex-direction: row
    padding: 0 0 0 16px
    list-style: none

    @media screen and (max-width: $foldWidth)
      position: absolute
      left: 50%
      bottom: 0
      padding: 0
      justify-content: center
      translate: -50% 0

    .item
      width: 50px
      height: 50px

      img,
      svg
        padding: 16px
        fill: currentColor

      a
        padding: 0

        &:before
          @media screen and (max-width: $foldWidth)
            display: none

#site-nav-toggle-button
  display: none

  @media screen and (max-width: $foldWidth)
    display: block
