/**
 *  Variable declaration.
 */

$smallScreenWidth: 576px
$mediumScreenWidth: 768px
$largeScreenWidth: 992px
$extraLargeScreenWidth: 1200px
$extraExtraLargeScreenWidth: 1400px

/**
 *  Style definitions.
 */
#site-header
  display: flex
  flex-direction: row
  justify-content: space-between
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 16px
  background: rgba(16, 15, 18, 0.7)
  box-sizing: border-box
  z-index: 1