.link-cloud {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	transition: all .2s ease;
}
.link-cloud > .item {
	margin: .3125em;
	padding: .3125em .5em;
	border: .1em solid #aaa;
	border-radius: .5em;
}