@media (prefers-color-scheme: dark) {
	:root {
		--global-text-color: #eee;
		--global-link-color: #ff7171;
		--global-border-color: #414141;
		--global-background: #111;
		--global-background-translucent: rgba(17,17,17,.9);
		--global-scrollbar-background: #222;
		--global-scrollbar-color: #666;
		--header-background: rgba(20,20,20,.9);
		--article-title-color: #fff;
		--article-header-color: rgba(255,255,255,.7);
		--mark-background: linear-gradient(transparent 50%,#610000 0%);
		--table-recommend-slot: #0c4d16;
		--table-alert-slot: #411010;
	}
}