@import "global.scss";

.ellipsis-separator {
    display: block;
    position: relative;
    margin: 32px auto;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: $bodyFontColorLight;

    @media (prefers-color-scheme: dark) {
        background-color: $bodyFontColorDark;
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -24px;
        border-radius: inherit;
        width: 8px;
        height: 8px;
        background: inherit;
        transform: translate(50%, 50%);
    }

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 24px;
        border-radius: inherit;
        width: 8px;
        height: 8px;
        background: inherit;
        transform: translate(-50%, 50%);
    }
}
