/**
 * Variable declaration.
 */
$commonGreyColor: rgba(122, 122, 122, 0.08);
$smallScreenWidth: 576px;
$bodyFontColorLight: #0a1b1c;
$bodyFontColorDark: #c0c5cb;
$bodyFontGreyLight: #404040;
$bodyFontGreyDark: #cfcfcf;
$bodyBackgroundLight: #ffffff;
$bodyBackgroundDark: #100f12;
$linkColorLight: #0017d0;
$linkColorDark: #8ab4f8;
$linkColorHoverLight: #9f087a;
$linkColorHoverDark: #ffc6f1;
