#related-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h4 {
        position: relative;
        margin: 0 0 1rem;
        width: 100%;
        font-size: 1.33rem;
        text-align: center; 

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            transform: translate(-2rem, -50%) rotate(45deg);
            background-image: linear-gradient(to right, #d91111, #6c1515);
            opacity: .2;
            z-index: -2;
        }
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            transform: translate(-4rem, -50%) rotate(45deg);
            background-image: linear-gradient(to right, #e8e8e8, #f9f9f9);
            opacity: 1;
            z-index: -3;
        }
    }
    .post {
        position: relative;
        flex-basis: 150px;
        padding: 1em;


        &:hover {
            .thumbnail {
                img {
                    transform: scale(1.2);
                }
            }
        }
        .thumbnail {
            display: block;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            margin: 0 auto;
            overflow: hidden;

            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                transition: all .2s ease;
            }
        }
        p {
            margin: .5rem 0;
            font-size: .9rem;
            font-weight: 700;
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: none;
        }
    }
}