@import "global.scss";

#site-footer {
    padding: 80px 10%;
    background: $commonGreyColor;
}

#footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;

    .widget {
        .title {
            text-align: center;
        }
    }
}

#site-copyright {
    margin-top: 60px;
}
